:host {
	#nav-container {
		width: calc(100% - 1rem); // for padding + grid. y tho ?
		height: 48px;
		padding: 0.5rem;
		background-color: cornflowerblue;

		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 25% 50% 25%;
	}

	#nav-left {
		grid-row: 1;
		grid-column: 1;

		cursor: copy;
	}
	#nav-center {
		grid-row: 1;
		grid-column: 2;
		text-align: center;

		cursor: pointer;
	}
}